Again, please insert to code to your ApacheCouchDB based Cloudant instance below using the "Insert Code" function of Watson Studio 

The purpose of this is to learn how feature engineering boosts model performance. You will apply Discrete Fourier Transformation on the accelerometer sensor time series and therefore transforming the dataset from the time to the frequency domain. 

After that, we’ll use a classification algorithm to create a model and will do predictions.

In [32]:
#your cloudant credentials go here
# @hidden_cell
credentials_1 = {
  'password':"""""",
  'custom_url':'https://00e8e09d-00cd-40c5-ae53-f5f90b5a1a4e-bluemix:c5f59bd77ef65ffe11680b4aba3e03c73460dfbaefd552cfa309f1f35248ba00@00e8e09d-00cd-40c5-ae53-f5f90b5a1a4e-bluemix.cloudantnosqldb.appdomain.cloud',
  'username':'',
  'url':'https://undefined'
}

Let's create a SparkSession object and put the Cloudant credentials into it

In [33]:
spark = SparkSession\
    .builder\
    .appName("Cloudant Spark SQL Example in Python using temp tables")\
    .config("cloudant.host",credentials_1['custom_url'].split('@')[1])\
    .config("cloudant.username", credentials_1['username'])\
    .config("cloudant.password",credentials_1['password'])\
    .config("jsonstore.rdd.partitions", 1)\
    .getOrCreate()

Now it’s time to read the sensor data and create a temporary query table.

In [34]:
df=spark.read.load('shake_classification1', "com.cloudant.spark")
df.createOrReplaceTempView("df")

We need to make sure SystemML is installed.

In [35]:
!pip install systemml

Requirement already satisfied: systemml in /gpfs/global_fs01/sym_shared/YPProdSpark/user/se28-ff5f952d83926e-9db968b3acc0/.local/lib/python3.5/site-packages (1.2.0)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from systemml) (1.13.3)
Requirement already satisfied: scikit-learn in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from systemml) (0.19.1)
Requirement already satisfied: Pillow>=2.0.0 in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from systemml) (4.2.1)
Requirement already satisfied: scipy>=0.15.1 in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from systemml) (1.0.0)
Requirement already satisfied: pandas in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from systemml) (0.21.0)
Requirement already satisfied: olefile in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from Pillow>=2.0.0->systemml) (0.44)
Requirement already satisfied: python-dateutil>=2 in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from pandas->systemml) (2.6.1)
Requirement already satisfied: pytz>=2011k in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from pandas->systemml) (2018.4)
Requirement already satisfied: six>=1.5 in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from python-dateutil>=2->pandas->systemml) (1.11.0)
notebook 5.0.0 requires nbconvert, which is not installed.
ipywidgets 6.0.0 requires widgetsnbextension~=2.0.0, which is not installed.
tensorflow 1.3.0 requires tensorflow-tensorboard<0.2.0,>=0.1.0, which is not installed.

We’ll use Apache SystemML to implement Discrete Fourier Transformation. This way all computation continues to happen on the Apache Spark cluster for advanced scalability and performance.

In [36]:
from systemml import MLContext, dml
ml = MLContext(spark)

As you’ve learned from the lecture, implementing Discrete Fourier Transformation in a linear algebra programming language is simple. Apache SystemML DML is such a language and as you can see the implementation is straightforward and doesn’t differ too much from the mathematical definition (Just note that the sum operator has been swapped with a vector dot product using the %*% syntax borrowed from R
):

<img style="float: left;" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/1af0a78dc50bbf118ab6bd4c4dcc3c4ff8502223">

In [37]:
dml_script = '''
PI = 3.141592654
N = nrow(signal)

n = seq(0, N-1, 1)
k = seq(0, N-1, 1)

M = (n %*% t(k))*(2*PI/N)

Xa = cos(M) %*% signal
Xb = sin(M) %*% signal

DFT = cbind(Xa, Xb)
'''

Now it’s time to create a function which takes a single row Apache Spark data frame as argument (the one containing the accelerometer measurement time series for one axis) and returns the Fourier transformation of it. In addition, we are adding an index column for later joining all axis together and renaming the columns to appropriate names. The result of this function is an Apache Spark DataFrame containing the Fourier Transformation of its input in two columns.

In [38]:
from pyspark.sql.functions import monotonically_increasing_id

def dft_systemml(signal,name):
    prog = dml(dml_script).input('signal', signal).output('DFT')
    
    return (

    #execute the script inside the SystemML engine running on top of Apache Spark
    ml.execute(prog) 
     
         #read result from SystemML execution back as SystemML Matrix
        .get('DFT') 
     
         #convert SystemML Matrix to ApacheSpark DataFrame 
        .toDF() 
     
         #rename default column names
        .selectExpr('C1 as %sa' % (name), 'C2 as %sb' % (name)) 
     
         #add unique ID per row for later joining
        .withColumn("id", monotonically_increasing_id())
    )

Now it’s time to create DataFrames containing for each accelerometer sensor axis and one for each class. This means you’ll get 6 DataFrames. Please implement this using the relational API of DataFrames or SparkSQL.

In [39]:
x0 = spark.sql('SELECT X FROM df WHERE class = 0')
y0 = spark.sql('SELECT Y FROM df WHERE class = 0')
z0 = spark.sql('SELECT Z FROM df WHERE class = 0')
x1 = spark.sql('SELECT X FROM df WHERE class = 1')
y1 = spark.sql('SELECT Y FROM df WHERE class = 1')
z1 = spark.sql('SELECT Z FROM df WHERE class = 1')

Since we’ve created this cool DFT function before, we can just call it for each of the 6 DataFrames now. And since the result of this function call is a DataFrame again we can use the pyspark best practice in simply calling methods on it sequentially. So what we are doing is the following:

- Calling DFT for each class and accelerometer sensor axis.
- Joining them together on the ID column. 
- Re-adding a column containing the class index.
- Stacking both Dataframes for each classes together

In [40]:
from pyspark.sql.functions import lit

df_class_0 = dft_systemml(x0,'x') \
    .join(dft_systemml(y0,'y'), on=['id'], how='inner') \
    .join(dft_systemml(z0,'z'), on=['id'], how='inner') \
    .withColumn('class', lit(0))
    
df_class_1 = dft_systemml(x1,'x') \
    .join(dft_systemml(y1,'y'), on=['id'], how='inner') \
    .join(dft_systemml(z1,'z'), on=['id'], how='inner') \
    .withColumn('class', lit(1))

df_dft = df_class_0.union(df_class_1)

df_dft.show()

SystemML Statistics:
Total execution time:		0.520 sec.
Number of executed Spark inst:	0.


SystemML Statistics:
Total execution time:		0.299 sec.
Number of executed Spark inst:	0.


SystemML Statistics:
Total execution time:		0.325 sec.
Number of executed Spark inst:	0.


SystemML Statistics:
Total execution time:		0.358 sec.
Number of executed Spark inst:	0.


SystemML Statistics:
Total execution time:		0.354 sec.
Number of executed Spark inst:	0.


SystemML Statistics:
Total execution time:		0.340 sec.
Number of executed Spark inst:	0.


+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+
|        id|                  xa|                  xb|                  ya|                  yb|                  za|                  zb|class|
+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+
|        26| 0.04820933865775663| 0.09558827397769044| 0.04820933865775663| 0.09558827397769044| 0.04820933865775663| 0.09558827397769044|    0|
|        29|-0.23240602823548473|  1.0577569914231915|-0.23240602823548473|  1.0577569914231915|-0.23240602823548473|  1.0577569914231915|    0|
|8589934658| -0.9695254651630417| -1.7420151416690628| -0.9695254651630417| -1.7420151416690628| -0.9695254651630417| -1.7420151416690628|    0|
|8589934965|  0.9139102749642984| -0.8816802467152786|  0.9139102749642984| -0.8816802467152786|  0.9139102749642984| -0.8816802467152786|    0|
|        65|  1.8782213908717171| -0.5439504940737634|  1.8782213908717171| -0.5439504940737634|  1.8782213908717171| -0.5439504940737634|    0|
|       191|  0.4725958739070465| -1.1311550929694498|  0.4725958739070465| -1.1311550929694498|  0.4725958739070465| -1.1311550929694498|    0|
|8589934785| -0.8972187498598572|  0.5174885287249422| -0.8972187498598572|  0.5174885287249422| -0.8972187498598572|  0.5174885287249422|    0|
|8589934903|  1.3865471223133183| -0.6733718971381534|  1.3865471223133183| -0.6733718971381534|  1.3865471223133183| -0.6733718971381534|    0|
|       222| 0.44122381207341643| 0.07030920536272799| 0.44122381207341643| 0.07030920536272799| 0.44122381207341643| 0.07030920536272799|    0|
|       270|-0.02030698498698...| -0.5861983095362989|-0.02030698498698...| -0.5861983095362989|-0.02030698498698...| -0.5861983095362989|    0|
|       293|-0.26764594591175855|-0.15786219312553845|-0.26764594591175855|-0.15786219312553845|-0.26764594591175855|-0.15786219312553845|    0|
|       243|  1.7243450772731754| -0.7728987610088038|  1.7243450772731754| -0.7728987610088038|  1.7243450772731754| -0.7728987610088038|    0|
|       278|  0.7087000114275435|  1.9647587272314215|  0.7087000114275435|  1.9647587272314215|  0.7087000114275435|  1.9647587272314215|    0|
|       367|   1.157358560993878| -2.6658774116737045|   1.157358560993878| -2.6658774116737045|   1.157358560993878| -2.6658774116737045|    0|
|8589934592|  -1.169089845718075| -2.9317126113936562|  -1.169089845718075| -2.9317126113936562|  -1.169089845718075| -2.9317126113936562|    0|
|8589934843| 0.14980582233742085| -1.9934046588948453| 0.14980582233742085| -1.9934046588948453| 0.14980582233742085| -1.9934046588948453|    0|
|        19|  -0.750000037965562|   0.363730580108952|  -0.750000037965562|   0.363730580108952|  -0.750000037965562|   0.363730580108952|    0|
|        54|  0.8737606621803642|  -0.866373261995532|  0.8737606621803642|  -0.866373261995532|  0.8737606621803642|  -0.866373261995532|    0|
|       296| 0.22652037960063115| -1.0778956864903289| 0.22652037960063115| -1.0778956864903289| 0.22652037960063115| -1.0778956864903289|    0|
|8589934961|  1.9184823886879312| -1.1463390032974896|  1.9184823886879312| -1.1463390032974896|  1.9184823886879312| -1.1463390032974896|    0|
+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+
only showing top 20 rows

Please create a VectorAssembler which consumes the newly created DFT columns and produces a column “features”

In [41]:
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler(inputCols=["xa","xb","ya","yb","za","zb"],outputCol="features")

Please insatiate a classifier from the SparkML package and assign it to the classifier variable. Make sure to set the “class” column as target.

In [2]:
from pyspark.ml.classification import LogisticRegression
#from pyspark.ml.feature import PCA

#pca = PCA(k=3, inputCol="features", outputCol="pcaFeatures")
classifier = LogisticRegression(labelCol = 'class',maxIter=10, regParam=0.3, elasticNetParam=0.8)

Let’s train and evaluate…

In [ ]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[vectorAssembler, classifier])

In [44]:
model = pipeline.fit(df_dft)

In [45]:
prediction = model.transform(df_dft)

In [46]:
prediction.show()

+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+----------+
|        id|                  xa|                  xb|                  ya|                  yb|                  za|                  zb|class|            features|       rawPrediction|         probability|prediction|
+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+----------+
|        26| 0.04820933865775663| 0.09558827397769044| 0.04820933865775663| 0.09558827397769044| 0.04820933865775663| 0.09558827397769044|    0|[0.04820933865775...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|        29|-0.23240602823548473|  1.0577569914231915|-0.23240602823548473|  1.0577569914231915|-0.23240602823548473|  1.0577569914231915|    0|[-0.2324060282354...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|8589934658| -0.9695254651630417| -1.7420151416690628| -0.9695254651630417| -1.7420151416690628| -0.9695254651630417| -1.7420151416690628|    0|[-0.9695254651630...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|8589934965|  0.9139102749642984| -0.8816802467152786|  0.9139102749642984| -0.8816802467152786|  0.9139102749642984| -0.8816802467152786|    0|[0.91391027496429...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|        65|  1.8782213908717171| -0.5439504940737634|  1.8782213908717171| -0.5439504940737634|  1.8782213908717171| -0.5439504940737634|    0|[1.87822139087171...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|       191|  0.4725958739070465| -1.1311550929694498|  0.4725958739070465| -1.1311550929694498|  0.4725958739070465| -1.1311550929694498|    0|[0.47259587390704...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|8589934785| -0.8972187498598572|  0.5174885287249422| -0.8972187498598572|  0.5174885287249422| -0.8972187498598572|  0.5174885287249422|    0|[-0.8972187498598...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|8589934903|  1.3865471223133183| -0.6733718971381534|  1.3865471223133183| -0.6733718971381534|  1.3865471223133183| -0.6733718971381534|    0|[1.38654712231331...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|       222| 0.44122381207341643| 0.07030920536272799| 0.44122381207341643| 0.07030920536272799| 0.44122381207341643| 0.07030920536272799|    0|[0.44122381207341...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|       270|-0.02030698498698...| -0.5861983095362989|-0.02030698498698...| -0.5861983095362989|-0.02030698498698...| -0.5861983095362989|    0|[-0.0203069849869...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|       293|-0.26764594591175855|-0.15786219312553845|-0.26764594591175855|-0.15786219312553845|-0.26764594591175855|-0.15786219312553845|    0|[-0.2676459459117...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|       243|  1.7243450772731754| -0.7728987610088038|  1.7243450772731754| -0.7728987610088038|  1.7243450772731754| -0.7728987610088038|    0|[1.72434507727317...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|       278|  0.7087000114275435|  1.9647587272314215|  0.7087000114275435|  1.9647587272314215|  0.7087000114275435|  1.9647587272314215|    0|[0.70870001142754...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|       367|   1.157358560993878| -2.6658774116737045|   1.157358560993878| -2.6658774116737045|   1.157358560993878| -2.6658774116737045|    0|[1.15735856099387...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|8589934592|  -1.169089845718075| -2.9317126113936562|  -1.169089845718075| -2.9317126113936562|  -1.169089845718075| -2.9317126113936562|    0|[-1.1690898457180...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|8589934843| 0.14980582233742085| -1.9934046588948453| 0.14980582233742085| -1.9934046588948453| 0.14980582233742085| -1.9934046588948453|    0|[0.14980582233742...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|        19|  -0.750000037965562|   0.363730580108952|  -0.750000037965562|   0.363730580108952|  -0.750000037965562|   0.363730580108952|    0|[-0.7500000379655...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|        54|  0.8737606621803642|  -0.866373261995532|  0.8737606621803642|  -0.866373261995532|  0.8737606621803642|  -0.866373261995532|    0|[0.87376066218036...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|       296| 0.22652037960063115| -1.0778956864903289| 0.22652037960063115| -1.0778956864903289| 0.22652037960063115| -1.0778956864903289|    0|[0.22652037960063...|[-0.2435572675428...|[0.43940990516332...|       1.0|
|8589934961|  1.9184823886879312| -1.1463390032974896|  1.9184823886879312| -1.1463390032974896|  1.9184823886879312| -1.1463390032974896|    0|[1.91848238868793...|[-0.2435572675428...|[0.43940990516332...|       1.0|
+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [47]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
binEval = MulticlassClassificationEvaluator().setMetricName("accuracy") .setPredictionCol("prediction").setLabelCol("class")
    
binEval.evaluate(prediction)

0.5605900948366702

If you are happy with the result (I’m happy with > 0.8), otherwise modify values for better accuracy

In [27]:
prediction = prediction.repartition(1)
prediction.write.json('a2_m4.json')